body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.module-item {
    cursor: pointer;
}

.module-item:hover,
.module-item--selected{
    background: #e2e2e2;
}

.language-item {
    cursor: pointer;
}

.language-item:hover,
.language-item--selected {
    background: #e2e2e2;
}